<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         failOnWarning="true"
         failOnEmptyTestSuite="true"
         failOnRisky="true"
         failOnIncomplete="true"
         failOnSkipped="true"
         failOnDeprecation="true"
         failOnNotice="true"
         failOnError="true"
         stopOnFailure="false"
         stopOnWarning="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnError="false"
         stopOnRisky="false"
         stopOnDeprecation="false"
         stopOnNotice="false"
         stopOnDefect="false"
         verbose="true">
    <testsuites>
        <testsuite name="WebAssemblyPacker Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">.</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>tests</directory>
            <directory>build</directory>
            <directory>build-php</directory>
        </exclude>
    </coverage>
</phpunit> 